<h1>Articulos#index</h1>
<p>Find me in app/views/articulos/index.html.erb</p>

<% @articulos.each do |art| %>
    <h2><%= link_to art.titulo, art%></h2>
    <p><%= art.created_at.strftime("%d-%m-%Y") %><p>
    <p><%= art.contenido.truncate_words(10) %><p>
<% end %>

<p> <%=  link_to "#{@boton} Artículo", edit_articulo_path(@articulo) %> </p>
<p> <%=  link_to "#{@boton} Artículo", articulo_path(@articulo) %> </p>
<p> <%=  link_to "#{@boton} Artículo", articulo_path %> </p>
<p> <%=  link_to "#{@boton} Artículo", @articulo, :method => :delete, data {confirm: "Seguro?"} %> </p>
